body{
    margin:0;
}

.fx{
    display: flex;
}

article{
    height: 30vh;
    width: 30%;
    background-color: red;
}

.capacite{
    color: orange;
}

header{
    background-color: red;
    width:100%;
    height:20vh;
}